<!-- Default home page -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>

<link href=/js/static/css/app.vue.css rel=stylesheet>

<div id=app></div>
<script type=text/javascript src=/js/static/js/manifest.vue.js></script>
<script type=text/javascript src=/js/static/js/app.vue.js></script>

<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container">
      <%= __('A brand new app.') %>
    </h1>
    <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
  </div>
</div>
